In [1]:
# import pandas library
import pandas as pd

In [2]:
# Load the data using "read_csv" method
nba = pd.read_csv('NBA_players_stats.csv')

In [3]:
# Have a look at the whole dataset
nba

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,35,2,491,84,145,...,0.543,46,95,141,20,15,19,32,58,212
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,...,NaN,0,3,3,2,0,0,0,1,20000
2,3,Steven Adams,C,27,NOP,33,33,918,115,187,...,0.443,133,161,294,69,29,20,50,63,265
3,4,Bam Adebayo,C,23,MIA,33,33,1119,236,419,...,0.847,72,241,313,179,29,34,98,80,634
4,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,...,0.838,17,77,94,36,8,18,20,36,28800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,488,Delon Wright,SG,28,DET,29,24,848,110,235,...,0.785,32,101,133,141,42,15,35,32,310
508,489,Thaddeus Young,PF,32,CHI,30,0,760,167,274,...,0.500,71,105,176,131,42,17,56,81,362
509,490,Trae Young,PG,22,ATL,34,34,1182,262,610,...,0.878,25,117,142,321,30,8,149,70,897
510,491,Cody Zeller,C,28,CHO,18,15,421,73,142,...,0.758,46,90,136,44,11,11,20,47,174
511,492,Ivica Zubac,C,23,LAC,38,1,753,120,182,...,0.826,90,176,266,43,14,30,39,228,311

In [4]:
# Since the data loaded is same as the source data, we can procees to the next step
# Lets see all the unique values inside the "Age" column
nba['Age'].unique()

array([ 21,  24,  27,  23,  35,  22,  25,  30,  26,  28,  36,  20,  33,
        19,  32,  34,  31,  29, 280, -19,  37], dtype=int64)

In [ ]:
# We see that we have ages like 280, -19
# These are the errors we have to deal with

In [5]:
# Since age cannot be Negative and also cannot exceed more than 120 years
# Lets define a lambda function to fix this error
# Lambda functions are anonymous functions

In [7]:
# Lets handle the negative value first
nba['Age'] = nba['Age'].apply(lambda x : x if x > 0 else x*-1)

In [8]:
# Have a peek at the unique values
nba['Age'].value_counts()

22     54
23     52
25     48
24     43
27     41
21     40
26     38
28     37
20     27
30     25
29     23
32     21
31     19
19     13
34     11
33      7
35      7
36      4
37      1
280     1
Name: Age, dtype: int64

In [9]:
# We got the negative value converted to positive using 'Lambda' function
# Similarly we can use the lambda function for values greater than 120
nba['Age'] = nba['Age'].apply(lambda x : x if x < 120 else x//10)

In [10]:
# Check for all the values inside the column
nba['Age'].unique()

array([21, 24, 27, 23, 35, 22, 25, 30, 26, 28, 36, 20, 33, 19, 32, 34, 31,
       29, 37], dtype=int64)

In [11]:
# Seems like we got this column clean
# Lets verify
nba['Age'].value_counts()

22    54
23    52
25    48
24    43
27    41
21    40
28    38
26    38
20    27
30    25
29    23
32    21
31    19
19    13
34    11
33     7
35     7
36     4
37     1
Name: Age, dtype: int64

In [ ]:
# We got the 'Age' column clean

In [12]:
# Now lets have a look at the 'Pos' column for all unique values

In [13]:
nba['Pos'].unique()

array(['PF', 'PG', 'C', 'SG', 'SG ', 'SF', 'SGa', 'SF.', 'PFa', 'PF ',
       'C ', ' PG', 'PG-SG ', 'sg', 'Sf', ' SG', 'SF-PF', 'pg', ' SF',
       'Pg'], dtype=object)

In [14]:
# It has some typo and whitespace errors

In [15]:
# Lets get rid of the Whitespace error using "strip" method
nba['Pos'] = nba['Pos'].str.strip()

In [16]:
# Check for all unique values again
nba['Pos'].unique()

array(['PF', 'PG', 'C', 'SG', 'SF', 'SGa', 'SF.', 'PFa', 'PG-SG', 'sg',
       'Sf', 'SF-PF', 'pg', 'Pg'], dtype=object)

In [17]:
# We got rid of the whitespaces but still left with the typing error.
# First, lets convert them all to upper case
nba['Pos'] = nba['Pos'].str.upper()

In [18]:
# Lets check again for all the values
nba['Pos'].unique()

array(['PF', 'PG', 'C', 'SG', 'SF', 'SGA', 'SF.', 'PFA', 'PG-SG', 'SF-PF'],
      dtype=object)

In [19]:
# Now lets replace everything that is not needed with a blank space using replace and regex method
# This will help us clean this column effectively
nba['Pos'] = nba['Pos'].replace(to_replace ='[A]', value = '', regex = True)
nba['Pos'] = nba['Pos'].replace(to_replace ='[.]', value = '', regex = True)

In [20]:
# checking column again
nba['Pos'].unique()

array(['PF', 'PG', 'C', 'SG', 'SF', 'PG-SG', 'SF-PF'], dtype=object)

In [21]:
nba['Pos'].value_counts()

SG       123
PF       104
C        100
PG        97
SF        86
SF-PF      1
PG-SG      1
Name: Pos, dtype: int64

In [22]:
# Great, we shall now move forward with other columns

In [23]:
# Lets have a look at the "Tm" column for all the unique values in it
nba['Tm'].unique()

array(['MIA', 'MIL', 'NOP', 'SAS ', ' PHO', 'MEM', ' TOT', 'BRK ', 'CLE',
       'ORL', 'LAL', 'POR', 'TOR', 'CHI', 'WAS', 'PHO', 'UTA', 'SAC',
       'CHO', 'NYK', 'DEN', 'SAS', 'LAC', 'GSW', 'OKC', 'MIN', 'DET',
       'DAL', 'IND', 'ATL', 'PHI', 'BRK', 'BOS', 'HOU', 'OKC ', ' NOP',
       ' PHI', 'DET ', 'TOT', ' BRK', ' IND', 'MIL ', ' SAS', 'ORL ',
       ' ORL', 'CLE ', 'H0U', 'NyK', ' MEM', 'MIA ', ' WAS', 'IND ',
       ' BOS', 'GSW ', 'MEM '], dtype=object)

In [24]:
# We have alot of errors like Typing errors, Whitespaces, Case errors

In [25]:
# Lets deal with them one by one
# Firstly let eradicate the whitespaces
nba['Tm'] = nba['Tm'].str.strip()

In [26]:
# Lets see the changes
nba['Tm'].unique()

array(['MIA', 'MIL', 'NOP', 'SAS', 'PHO', 'MEM', 'TOT', 'BRK', 'CLE',
       'ORL', 'LAL', 'POR', 'TOR', 'CHI', 'WAS', 'UTA', 'SAC', 'CHO',
       'NYK', 'DEN', 'LAC', 'GSW', 'OKC', 'MIN', 'DET', 'DAL', 'IND',
       'ATL', 'PHI', 'BOS', 'HOU', 'H0U', 'NyK'], dtype=object)

In [27]:
# We are still left with Typing Error
# Lets deal with them too

In [28]:
# Lets use the upper case method
nba['Tm'] = nba['Tm'].str.upper()

In [29]:
nba['Tm'].value_counts()

BRK    23
WAS    19
ORL    18
DET    18
NYK    18
SAC    18
HOU    18
CLE    18
DAL    17
TOR    17
IND    17
CHI    17
DEN    17
PHI    17
LAL    17
MEM    16
UTA    16
OKC    16
MIA    16
SAS    16
PHO    16
MIN    16
ATL    16
BOS    16
NOP    15
LAC    15
GSW    15
MIL    15
POR    14
CHO    14
TOT    10
H0U     1
Name: Tm, dtype: int64

In [ ]:
# We can see we have a Typing error i.e., instead of 'O', 0 is written

In [30]:
# We will again use the "replace" & 'regex' method to deal with it
nba['Tm'] = nba['Tm'].replace(to_replace ='[0]', value = 'O', regex = True)

In [31]:
# Lets check this column for all the values
nba['Tm'].unique()

array(['MIA', 'MIL', 'NOP', 'SAS', 'PHO', 'MEM', 'TOT', 'BRK', 'CLE',
       'ORL', 'LAL', 'POR', 'TOR', 'CHI', 'WAS', 'UTA', 'SAC', 'CHO',
       'NYK', 'DEN', 'LAC', 'GSW', 'OKC', 'MIN', 'DET', 'DAL', 'IND',
       'ATL', 'PHI', 'BOS', 'HOU'], dtype=object)

In [32]:
nba['Tm'].value_counts()

BRK    23
HOU    19
WAS    19
NYK    18
SAC    18
ORL    18
CLE    18
DET    18
CHI    17
TOR    17
IND    17
DAL    17
LAL    17
DEN    17
PHI    17
MIN    16
MEM    16
OKC    16
BOS    16
SAS    16
ATL    16
UTA    16
PHO    16
MIA    16
LAC    15
MIL    15
GSW    15
NOP    15
POR    14
CHO    14
TOT    10
Name: Tm, dtype: int64

In [33]:
# We have cleaned the 'Tm' column

In [34]:
# Now lets handle missing values before proceeding any further
# Firstly lets check for missing values
nba.isnull().sum()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        3
3P         0
3PA        0
3P%       33
2P         0
2PA        0
2P%        7
FT         0
FTA        0
FT%       32
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

In [35]:
# We have some 'Missing' values that need to be dealt with before any further calculation

In [36]:
# We will use "fillna" method to fill the missing/null values with 0
nba.fillna(0, inplace = True)

In [37]:
# Lets check again for Missing/Null values
nba.isnull().sum()

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [38]:
# Since we are done with handling the missing values,

In [39]:
# Now lets clean our percentage columns
# Firstly lets have a look at them separately for clear understanding
nba['FT%']

0      0.543
1      0.000
2      0.443
3      0.847
4      0.838
       ...
507    0.785
508    0.500
509    0.878
510    0.758
511    0.826
Name: FT%, Length: 512, dtype: float64

In [40]:
# Lets have a look at our Percentage columns separately for better understanding
nba['FG%']

0      0.579
1      0.125
2      0.615
3      0.563
4      0.464
       ...
507    0.468
508    0.609
509    0.430
510    0.514
511    0.659
Name: FG%, Length: 512, dtype: float64

In [41]:
nba['3P%']

0      0.000
1      0.000
2      0.000
3      0.050
4      0.360
       ...
507    0.384
508    0.227
509    0.378
510    0.158
511    0.000
Name: 3P%, Length: 512, dtype: float64

In [42]:
nba['2P%']

0      0.579
1      0.167
2      0.618
3      0.567
4      0.509
       ...
507    0.506
508    0.643
509    0.460
510    0.569
511    0.663
Name: 2P%, Length: 512, dtype: float64

In [ ]:
# Remember, We will always get an error when we try to divide 0 by 0

In [43]:
# We will use the 'round' method to round up our percentage columns as per requirements
# and then equate them to the formual provided to check for errors
round(nba['FT%'],3) ==  round(nba['FT'] / nba['FTA'],3)

0       True
1      False
2       True
3       True
4       True
       ...
507     True
508     True
509     True
510     True
511     True
Length: 512, dtype: bool

In [54]:
# We got a false value in the second row which is because we are dividing 0 by 0
# We might have 'False' values other than these, so lets check how many 'False' values are there
ft = round(nba['FT%'],3) == round(nba['FT'] / nba['FTA'],3)
ft.value_counts()

True     480
False     32
dtype: int64

In [ ]:
# We can see that the 'False' values are same as the null values we encountered in this column
# Hence we can proceed occured due to a division which is not possible

In [55]:
# We will now edit out 'FT%' column according to the formula
# So that no other error is present
nba['FT%'] = nba['FT'] / nba['FTA']

In [56]:
# Lets have a look at the edited column
nba['FT%']

0      0.543210
1           NaN
2      0.443038
3      0.846561
4      0.837838
         ...
507    0.784810
508    0.500000
509    0.878049
510    0.757576
511    0.825581
Name: FT%, Length: 512, dtype: float64

In [57]:
# We are getting a 'NaN' value
# Lets fill this 'NaN' value with 0 and round to 3 places
nba['FT%'].fillna(0,inplace = True)
nba['FT%'].round(3)

0      0.543
1      0.000
2      0.443
3      0.847
4      0.838
       ...
507    0.785
508    0.500
509    0.878
510    0.758
511    0.826
Name: FT%, Length: 512, dtype: float64

In [58]:
# Lets quickly check the count for 'True' & 'False' values
ft.value_counts()

True     480
False     32
dtype: int64

In [ ]:
# As I told you earlier, 'False' values will be equal to the missing values in the column

In [49]:
# Similarly we can do this for each percentage column
# Lets quickly handle those columns too

In [59]:
# Let see the '2P%' column
p = round(nba['2P%'],3) == round(nba['2P'] / nba['2PA'],3)
p.value_counts()

True     505
False      7
dtype: int64

In [60]:
# We have 'False' values same as the 'Missing' values in the column 
#lets edit the columns so that no error occur later
# We will also fill the 'NaN' values just for assurance
nba['2P%'] = nba['2P'] / nba['2PA']
nba['2P%'].fillna(0,inplace = True)
nba['2P%'].round(3)

0      0.579
1      0.167
2      0.618
3      0.567
4      0.509
       ...
507    0.506
508    0.643
509    0.460
510    0.569
511    0.663
Name: 2P%, Length: 512, dtype: float64

In [61]:
p.value_counts()

True     505
False      7
dtype: int64

In [62]:
# Now that we know what to do, lets quickly edit the other 2 columns
P = round(nba['3P%'],3) == round(nba['3P'] / nba['3PA'],3)
P.value_counts()

True     474
False     38
dtype: int64

In [63]:
# Here also the 'False' values are equal to the 'Missing' values

In [64]:
# apply further steps
nba['3P%'] = nba['3P'] / nba['3PA']
nba['3P%'].fillna(0,inplace = True)
nba['3P%'].round(3)

0      0.000
1      0.000
2      0.000
3      0.333
4      0.360
       ...
507    0.384
508    0.227
509    0.378
510    0.158
511    0.000
Name: 3P%, Length: 512, dtype: float64

In [65]:
# check again
f = round(nba['3P%'],3) == round(nba['3P'] / nba['3PA'],3)
f.value_counts()

True     479
False     33
dtype: int64

In [66]:
# Let's proceed futher

In [73]:
# Lets now consider the 'FG%' column and handle it as we handled other columns
fg = round(nba['FG%'],3) == round(nba['FG'] / nba['FGA'],3)
fg.value_counts()

True     509
False      3
dtype: int64

In [ ]:
# we get the same output we expected

In [71]:
# For assurance lets equate the column to the formula and add the other steps also
nba['FG%'] = nba['FG'] / nba['FGA']
nba['FG%'].fillna(0,inplace = True)
nba['FG%'].round(3)

0      0.579
1      0.125
2      0.615
3      0.563
4      0.464
       ...
507    0.468
508    0.609
509    0.430
510    0.514
511    0.659
Name: FG%, Length: 512, dtype: float64

In [74]:
fg.value_counts()

True     509
False      3
dtype: int64

In [ ]:
# Great. Since we are done with the percentage column lets move ahead

In [75]:
# Now lets have a look at our 'PTS' column
nba['PTS']

0        212
1      20000
2        265
3        634
4      28800
       ...
507      310
508      362
509      897
510      174
511      311
Name: PTS, Length: 512, dtype: int64

In [ ]:
# We see that we have values that exceed the limit given to us
# We shall cross check the formula for calculating the total points

In [76]:
# Formula for calculating total point
nba['PTS'] == nba['2P']*2 + nba['3P']*3 + nba['FT']

0       True
1      False
2       True
3       True
4      False
       ...
507     True
508     True
509     True
510     True
511     True
Length: 512, dtype: bool

In [77]:
# Lets see how many rows have the error values
# We will create a new dataframe to count the number of 'True' & 'False' output with respect to the condition 
df = nba['PTS']>2000
df.value_counts()

False    510
True       2
Name: PTS, dtype: int64

In [78]:
# We have 2 values that need to be edited
# These are also errors and need to be taken care of

In [79]:
# Since we are getting some 'True' values above, we should use the formula given to us to handle the 'True' output
nba['PTS'] = nba['2P']*2 + nba['3P']*3 + nba['FT']

In [80]:
# Check the column again
nba['PTS']

0      212
1        2
2      265
3      634
4      288
      ...
507    310
508    362
509    897
510    174
511    311
Name: PTS, Length: 512, dtype: int64

In [81]:
# Lets check the values again
df = nba['PTS']>2000
df.value_counts()

False    512
Name: PTS, dtype: int64

In [82]:
# We got the error rectified in the 'PTS' column

In [83]:
# Check for the Max and Min values so that no error occurs and we meet the requirements
nba['PTS'].max()

1053

In [84]:
nba['PTS'].min()

0

In [ ]:
# Now lets check for null values again just to be sure

In [85]:
nba.isnull().sum()

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [86]:
# We have cleaned our data
# Lets save it

In [87]:
nba.to_csv('cleaned_NBA_players_stats.csv', index=False)